* {
  box-sizing: border-box;
  --black: #222;
  --white: #fff;
  --dark-gray: #777;
  --light-gray: #ffe1eb;
  --venetian-red: #6d001d;
  --monza: #ce0048;
  scrollbar-color: var(--white) var(--venetian-red);
  scrollbar-width: thin;
}

html {
  background: url("/img/bg.jpg") no-repeat center center fixed;
  background-size: cover;
  font-size: 12px;
}

@media (min-width: 768px) {
  html {
    font-size: 14px;
  }
}

@media (min-width: 1024px) {
  html {
    font-size: 16px;
  }
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  line-height: 1.6;
  color: var(--black);
}

.site {
  max-width: 800px;
  margin: 10rem auto;
  padding: 0 2rem;
  border: 1rem solid var(--black);
  background: var(--white);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Abril Fatface", cursive;
  font-weight: 400;
  font-style: normal;
  line-height: 1.15;
  letter-spacing: 0.022rem;
  color: var(--venetian-red);
}

h1 {
  font-size: 2.986rem;
  text-align: right;
}

h1 a {
  text-decoration: none;
}

h2 {
  font-size: 2.488rem;
  // background-image: url("/img/watercolor.webp");
  // background-repeat: repeat;
  background-color: var(--light-gray);
  background-image: radial-gradient(
      circle at 100% 150%,
      var(--light-gray) 24%,
      white 24%,
      white 28%,
      var(--light-gray) 28%,
      var(--light-gray) 36%,
      white 36%,
      white 40%,
      transparent 40%,
      transparent
    ),
    radial-gradient(
      circle at 0 150%,
      var(--light-gray) 24%,
      white 24%,
      white 28%,
      var(--light-gray) 28%,
      var(--light-gray) 36%,
      white 36%,
      white 40%,
      transparent 40%,
      transparent
    ),
    radial-gradient(
      circle at 50% 100%,
      white 10%,
      var(--light-gray) 10%,
      var(--light-gray) 23%,
      white 23%,
      white 30%,
      var(--light-gray) 30%,
      var(--light-gray) 43%,
      white 43%,
      white 50%,
      var(--light-gray) 50%,
      var(--light-gray) 63%,
      white 63%,
      white 71%,
      transparent 71%,
      transparent
    ),
    radial-gradient(
      circle at 100% 50%,
      white 5%,
      var(--light-gray) 5%,
      var(--light-gray) 15%,
      white 15%,
      white 20%,
      var(--light-gray) 20%,
      var(--light-gray) 29%,
      white 29%,
      white 34%,
      var(--light-gray) 34%,
      var(--light-gray) 44%,
      white 44%,
      white 49%,
      transparent 49%,
      transparent
    ),
    radial-gradient(
      circle at 0 50%,
      white 5%,
      var(--light-gray) 5%,
      var(--light-gray) 15%,
      white 15%,
      white 20%,
      var(--light-gray) 20%,
      var(--light-gray) 29%,
      white 29%,
      white 34%,
      var(--light-gray) 34%,
      var(--light-gray) 44%,
      white 44%,
      white 49%,
      transparent 49%,
      transparent
    );
  background-size: 100px 50px;
  padding: 1rem;
  vertical-align: middle;
  border-bottom: 0.5rem solid var(--black);
  margin: 0;
}

h3 {
  font-size: 2.074rem;
}

h4 {
  font-size: 1.728rem;
}

h5 {
  font-size: 1.44rem;
}

h6 {
  font-size: 1.2rem;
}

p {
  font-size: 1rem;
}

small,
pre code {
  font-size: 0.833rem;
}

pre {
  background: var(--venetian-red);
  border: 0.5rem solid var(--black);
  padding: 1rem;
  color: var(--white);
  overflow-x: auto;
  scrollbar-color: var(--white) var(--venetian-red);
  scrollbar-width: thin;
}

.meta,
.posts li span {
  font-size: 0.833rem;
  color: var(--dark-gray);
}

.meta {
  margin-top: 0.833rem;
  text-align: right;
}

a {
  color: var(--monza);
}

a:hover {
  color: var(--venetian-red);
}

.posts {
  padding-left: 0;
}

.posts li {
  list-style: none;
  border-bottom: 1px solid var(--light-gray);
  padding: 1rem 0;
  display: grid;
  grid-template-columns: 1fr 3fr;
  align-items: center;
}

.posts li:hover {
  background: var(--light-gray);
}

.footer {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem;
  align-items: center;
  padding: 1rem 0;
}

blockquote {
  font-style: italic;
  border-left: 0.5rem solid var(--venetian-red);
  padding-left: 1rem;
}
