/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */
* {
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }

body {
  background-color: #f6f4e5;
  line-height: 1.5;
  font-size: small;
  text-align: center;
  color: #5f5959;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%; }

h1 { margin-bottom: 1em; }
p { margin: 1em 0; }

a, a:visited         { color: #fe524c; }
a:hover, a:active, a:focus   { color: #FF847C; }

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/
.posts {
  list-style-type: none;
  margin-bottom: 2em;
}

.posts li {
  border-bottom: 1px solid #5f5959;
  padding: .5em 0;
  text-align: right;
}

.posts span {
  color: #fac84c;
  font-size: .5em;
  text-transform: uppercase;
  background: #fff;
  padding: .1em .5em;
  display: inline-block;
  border-bottom: 1px solid #fac84c;
  float: left;
}

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.site {
  font-size: 100%;
  max-width: 500px;
  margin: 3em auto 2em;
  padding: 1em;
  line-height: 1.5em;
}

@media screen and (min-width: 700px) {
  .site {
    font-size: 110%;
  }
}

@media screen and (min-width: 900px) {
  .site {
    font-size: 137.5%;
    max-width: 700px;
    line-height: 1.75em;
  }
}

@media screen and (min-width: 1280px) {
  .site {
    font-size: 150%;
    max-width: 800px;
  }
}

.site p.meta {
  color: #fac84c;
}

.post, .posts {
  text-align: justify;
}

.post {
    text-indent: 1em;
    padding: .5em 1em;
    background: #fcfbf3;
    box-shadow: 0 0 1em rgba(0,0,0,.25);
}

.header a {
  font-weight: bold;
  text-decoration: none;
}

.title {
  display: inline-block;
  font-size: 3em;
}

.header a.extra {
  margin-left: 1em;
}

.footer {
  font-size: 80%;
  line-height: 1.2;
  text-align: left;
  border-top: 1px solid #fff;
  margin-top: 2em;
  overflow: hidden;
}

.footer .contact {
  float: left;
  margin-right: 3em;
}

.footer .rss {
  margin-top: 1.1em;
  margin-right: -.2em;
  float: right;
}

.footer .rss img {
  border: 0;
}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

/* standard */
.post pre {
  border-top: #255a6d 5px solid;
  background-color: #76c3b3;
  color: #fff;
  padding: 0 .4em;
}

.post ul, .post ol {
  margin-left: 1.35em;
  line-height: 1.7em;
}

.post code {
  border-top: #255a6d 5px solid;
  background-color: #76c3b3;
  color: #fff;
  padding: 0 .2em;
}

.post pre code {
  border: none;
}

/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

.post pre.terminal code {
  background-color: #333;
}

/*****************************************************************************/
/*
/* Typography
/*
/*****************************************************************************/
body {
  font-size: 100%;
  font-family: 'Josefin Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Amatic SC', cursive;
  color: #76c3b3;
}

body, caption, th, td, input, textarea, select, option, legend, fieldset, h1, h2, h3, h4, h5, h6 {
  font-size-adjust: 0.5;
}

.post {
  font-size: 1em;
  /* equivalent to 16px */
  line-height: 1.25;
  /* equivalent to 20px */
}

@media (min-width: 43.75em) {
  .post {
    font-size: 1em;
    /* equivalent to 16px */
    line-height: 1.375;
    /* equivalent to 22px */
  }
}

h1 {
  font-size: 2em;
  /* 2x body copy size = 32px */
  line-height: 1.25;
  /* 45px / 36px */
}

@media (min-width: 43.75em) {
  h1 {
    font-size: 2.5em;
    /* 2.5x body copy size = 40px */
    line-height: 1.125;
  }
}

@media (min-width: 56.25em) {
  h1 {
    font-size: 3em;
    /* 3x body copy size = 48px */
    line-height: 1.05;
    /* keep to a multiple of the 20px line height and something more appropriate for display headings */
  }
}

h2 {
  font-size: 1.625em;
  /* 1.625x body copy size = 26px */
  line-height: 1.15384615;
  /* 30px / 26px */
}

@media (min-width: 43.75em) {
  h2 {
    font-size: 2em;
    /* 2x body copy size = 32px */
    line-height: 1.25;
  }
}

@media (min-width: 56.25em) {
  h2 {
    font-size: 2.25em;
    /* 2.25x body copy size = 36px */
    line-height: 1.25;
  }
}

h3 {
  font-size: 1.375em;
  /* 1.375x body copy size = 22px */
  line-height: 1.13636364;
  /* 25px / 22px */
}

@media (min-width: 43.75em) {
  h3 {
    font-size: 1.5em;
    /* 1.5x body copy size = 24px */
    line-height: 1.25;
  }
}

@media (min-width: 56.25em) {
  h3 {
    font-size: 1.75em;
    /* 1.75x body copy size = 28px */
    line-height: 1.25;
  }
}

h4 {
  font-size: 1.125em;
  /* 1.125x body copy size = 18px */
  line-height: 1.11111111;
}

@media (min-width: 43.75em) {
  h4 {
    line-height: 1.22222222;
    /* (22px / 18px */
  }
}

blockquote {
  font-size: 1.25em;
  /* 20px / 16px */
  line-height: 1.25;
  /* 25px / 20px */
}

@media (min-width: 43.75em) {
  blockquote {
    font-size: 1.5em;
    /* 24px / 16px = */
    line-height: 1.45833333;
    /* 35px / 24px */
  }
}