<!DOCTYPE html itemscope itemtype="http://schema.org/Blog">
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      http-equiv="Content-Security-Policy"
      content="default-src 'none'; manifest-src 'self'; font-src https://fonts.googleapis.com https://fonts.gstatic.com; img-src 'self' https://image.tmdb.org/; script-src 'self' 'unsafe-inline' https://ajax.googleapis.com/ https://cdnjs.cloudflare.com https://unpkg.com; style-src 'self' https://fonts.googleapis.com https://cdnjs.cloudflare.com; frame-src https://www.youtube.com/ https://w.soundcloud.com/; object-src 'none'; base-uri 'none'"
    />
    <meta http-equiv="referrer" content="same-origin" />
    {% if page.title == site.name %}
    <title>{{ page.title }}</title>
    {% else %}
    <title>{{ page.title }} ~ {{ site.name }}</title>
    {% endif %}
    <meta name="viewport" content="width=device-width" />
    <meta name="title" itemprop="name" content="{{ page.title }}" />
    <meta
      name="description"
      itemprop="description"
      content="{{ page.excerpt }}"
    />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="canonical" href="{{site.url}}{{ page.url }}" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Poppins:ital,wght@0,400;0,700;1,300&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="manifest" href="/manifest.webmanifest" />
    {% feed_meta %} {% seo %}
  </head>
  <body>
    <div class="site">
      <header class="header" role="banner">
        <h1 class="title">
          <a href="/">鼻涕 {{ site.name }}</a>
        </h1>
        <div class="header-search">
          <form class="header-search-form" action="/search" method="get">
            <input
              type="text"
              id="search-box"
              class="search-input"
              name="query"
            />
            <input type="submit" class="search-button" value="search" />
          </form>
        </div>
      </header>

      {{ content }}

      <footer role="contentinfo" class="footer">
        <div class="contact">
          <p>
            <a href="https://github.com/blrobin2">github</a>
          </p>
        </div>
        <div class="contact">
          <p>
            <a href="https://letterboxd.com/blrobin2/">letterboxd</a>
          </p>
        </div>
        <div class="contact">
          <p>
            <a href="https://app.thestorygraph.com/profile/blrobin2"
              >storygraph</a
            >
          </p>
        </div>
        <div class="contact">
          <p>
            <a href="https://lefthandedcrystals.bandcamp.com/">bandcamp</a>
          </p>
        </div>
      </footer>
    </div>
  </body>
</html>
